  {% raw %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>ACL</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/static/layui/css/layui.css" rel="stylesheet">
  <link href="/static/adminui/dist/css/admin.css" rel="stylesheet">
</head>
<body>


  
  <div class="layui-fluid">
    <div class="layui-row layui-col-space15">
      <div class="layui-col-md12">
        <div class="layui-card">
          <div class="layui-card-header">访问控制中心</div>
          <div class="layui-card-body">
            <table class="layui-hide" id="test-table-index" lay-filter="test-table-index"></table>

            <script type="text/html" id="toolbarDemo">
              <div class="layui-btn-container">
                <button class="layui-btn layui-btn-sm" lay-event="writeConfig">写入配置</button>
                <button class="layui-btn layui-btn-sm" lay-event="readConfig">读取配置</button>
                <button class="layui-btn layui-btn-sm" lay-event="reload">重载配置</button>
              </div>
            </script>
                

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/static/layui/layui.js"></script>
  <script>

  layui.config({
    base: '/static/' // 静态资源所在路径
  }).use(['index', 'table', 'dropdown','form'], function(){
    var table = layui.table
    ,form = layui.form
    ,$ = layui.$;
    var dropdown = layui.dropdown;
    var device = layui.device();




    
    // 创建渲染实例
    table.render({
      elem: '#test-table-index'
      ,url: '/api/acl/getACL' // 此处为静态模拟数据，实际使用时需换成真实接口
      ,toolbar: '#toolbarDemo'
      ,defaultToolbar: ['filter', 'exports', 'print', {
        title: '帮助'
        ,layEvent: 'LAYTABLE_TIPS'
        ,icon: 'layui-icon-tips'
      }]
      ,height: 'full-100' // 最大高度减去其他容器已占有的高度差
      ,cellMinWidth: 80
      ,totalRow: true // 开启合计行
      ,page: true
      ,cols: device.mobile?[[
           {field:'id', title:'ID', width:10, unresize: true, sort: true, totalRowText: '合计：'},
           {field:'userName', title:'用户名',width:180,totalRow: '{{= d.TOTAL_ROW.count   }} 😊'},
           {field:'acl', title:'ACL',edit: 'text'}
      ]]:[[
        {type: 'checkbox'},
        {field:'id', title:'ID', width:10, unresize: true, sort: true, totalRowText: '合计：'},
        {field:'userName', title:'用户名',width:180,totalRow: '{{= d.TOTAL_ROW.count   }} 😊'},
        {field:'acl', title:'ACL',width:800,edit: 'text',event:'aclEdit'}
    
      ]]
      ,error: function(res, msg){
        console.log(res, msg)
      }
    });

    table.on('tool(test-table-index)', function(obj){
      oldValue = obj.data['acl']
        layer.prompt({title: '编辑'+obj.data['userName']+'的ACL规则', 
        formType: 2,
        area: ['800px','600px'],
        value:oldValue,
        scrollbar:false
        }, function(value, index, elem){
            obj.update({
                acl: value         
              });
             layer.close(index);
              $.ajax({
              url:'/api/acl/re_acl',
              type: 'post',
              dataType: 'json',
              data: {aclId: obj.data['id'],newAcl: value},
              success:function(res){
                if(res.code == 0){
                  layer.msg(res.msg, {icon: 6});
                  obj.update({ acl: value });
                }else{
                  layer.msg(res.msg, {icon: 7});
                  obj.update({ acl: oldValue });
                }
              }
            });
        });
    })

    // 工具栏事件
    table.on('toolbar(test-table-index)', function(obj){
      var $ = layui.$;
      var util = layui.util;
      var id = obj.config.id;
      var checkStatus = table.checkStatus(id);
      var othis = lay(this);
      switch(obj.event){

        case 'writeConfig':
          $.ajax({
            url:'/api/acl/rewrite_acl',
            type: 'post',
            dataType: 'json',
            success:function(res){
              if(res.code == 0){
                layer.msg(res.msg, {icon: 6});
              }else{
                layer.msg(res.msg, {icon: 7});
              }
            }
          });
        break;
        case 'readConfig':
          $.ajax({
            url:'/api/acl/read_acl',
            type: 'post',
            dataType: 'json',
            success:function(res){
              if(res.code == 0){
                // 在此处输入 layer 的任意代码
                layer.open({
                  type: 1, // page 层类型
                  area: ['1000px', '500px'],
                  title: 'ACL',
                  shade: 0.6, // 遮罩透明度
                  shadeClose: true, // 点击遮罩区域，关闭弹层
                  maxmin: true, // 允许全屏最小化
                  anim: 0, // 0-6 的动画形式，-1 不开启
                  content: (res.data)
                });
              }else{
                layer.msg(res.msg, {icon: 7});
              }
            }
          });
        break;
        case 'reload':
          var data = checkStatus.data;
          $.ajax({
            url:'/api/acl/reload',
            type: 'post',
            dataType: 'json',
            success:function(res){
              if(res.code == 0){
                layer.msg(res.msg, {icon: 6});
              }
            }
          });
        break;
        
        

      
      };
    });


    //事件-单元格编辑
    table.on('edit(test-table-index)', function(obj){
      var value = obj.value; //得到修改后的值
      var field = obj.field; //得到字段
      var oldValue= obj.oldValue;


      console.log(obj.oldValue)
      $.ajax({
        url:'/api/acl/re_acl',
        type: 'post',
        dataType: 'json',
        data: {aclId: obj.data.id,newAcl: obj.value},
        success:function(res){
          // console.log(res.code)
          if(res.code == 0){
            layer.msg(res.msg, {icon: 6});
            obj.update({ [field]: value });
          }else{
            layer.msg(res.msg, {icon: 7});
            obj.update({ [field]: oldValue });
          }
        }
      });


    });



  });
  </script>
</body>
</html>

    {% endraw %}